* {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'DM Sans'
}

body {
    background: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 160px;
    margin-top: 93px;
}

.img-logo {
    background-image: url(./hs..svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;
}

.header-nav {
    display: flex;
}

.header-nav p {
    margin-right: 29px;
    font: 500 22px 'DM Sans';
    color: #181717;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.flex h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
    margin-bottom: 83px;
    margin-left: 160px;

}

.flex p {
    color: #606060;
    font: 400 32px 'DM Sans';
}

.img {
    background-image: url(./↓.svg);
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
    margin-bottom: 83px;
    margin-left: 160px;
}

.projects {
    display: flex;
    flex-direction: row;
}

.information {
    display: flex;
    flex-direction: column;
}

.text {
    font: 400 22px 'DM Sans';
    color: #181717;
    height: 100%;
}

.link {
    font-family: 500 22px 'DM Sans';
    color: #181717;
}

.picture {
    background-image: url(./Thumbnail.svg);
    background-repeat: no-repeat;
    width: 640px;
    height: 365px;
}