* {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'DM Sans'
}

body {
    background: #E5E5E5;
    width: 1200px;
    margin: auto;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #e9e9e9;
}

.img-logo {
    background-image: url(../img/hs..svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;
}

.header-nav {
    display: flex;
}

.header-nav p {
    margin-right: 29px;
    font: 500 22px 'DM Sans';
    color: #181717;
}

.header-nav p:hover {
    text-decoration: underline;
}

.header-nav p:not(:last-child) {
    margin-right: 29px;
}

.about {
    display: flex;
}

.flex-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 149px;
}

.info-about {
    width: 570px;
}

.info-about h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
}

.info-about p {
    color: #606060;
    font: 400 24px 'DM Sans';
    margin-top: 30px;
}

.img-about {
    background-color: #606060;
    height: 457px;
    width: 405px;
}

.about-block-skills {
    display: flex;
    flex-direction: column;
}

.about-skills {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}

.about-skills-header {
    font: 500 22px 'DM Sans';
    color: #181717;
    text-decoration-line: underline;
    flex: 0 0 200px;
}

.about-skills-more-info {
    font: 400 20px 'DM Sans';
    color: #181717;
    flex: 1 0 200px;
}

.line {
    height: 2px;
    background: #181717;
    margin: 71px 0;
}

.connection {
    display: flex;
    justify-content: space-between;
    font: 400 32px 'DM Sans';
    color: #181717;
}

.email {
    flex: 1 1 200px
}

.footer {
    display: flex;
    justify-content: space-between;
    font: 500 22px 'DM Sans';
    margin-top: 128px;
}

.name {
    color: #2429AF;
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #181717;
}

.item-footer {
    margin-right: 31px;
}